/* #company-nav {
  background: rgb(240, 145, 0) !important;
  background: linear-gradient(
    90deg,
    rgba(240, 145, 0, 1) 0%,
    rgba(162, 240, 0, 1) 100%
  ) !important;
} */

/* .responsive-img {
  max-height: fit-content;
  width: 50%;

}
 */
